.clock {
    display: flex;
    justify-content: center;
    font-family: "Concert One", cursive;
    font-size: 240px;
}

.hour {
    color: #b1b2ff;
}

.colon {
    color: #eef1ff;
}

.minute {
    color: #ffb3b3;
}

.second {
    color: #e79243;
}